/* Practice.css */

.div-labs {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 8px;
  }
  
  .lab-title {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .lab-title-select select{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  .lab-description {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .header-content {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .header-content label {
    font-weight: bold;
  }
  
  .header-content select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .header-content button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: #fff;
  }
  
  .task-list {
    background-color: #000;
    padding: 10px;
    border-radius: 8px;
    color:white;
  }
  
  .task-item {
    background-color: #f3f3f3;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .lab-actions button{
    margin-top: 20px;
    width: 10%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 110px;
    margin-left: 10px;
  }
  .lab-actions button:hover{
    background-color: #979797;
  }
  